body {
    background-color: rgba(0, 0, 0, 0.808);
    margin: 0;
    font-family: cursive;
    color: rgba(255, 255, 255, 0.904);
}
h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 22px;
    padding: 10px;
}
li {
    text-align: center;
}
form {
    background-color:rgba(24, 24, 21, 0.788) ;
    padding: 15px 30px;
    max-width: 500px;
    margin: auto;
    box-shadow:0px 0px 55px  15px rgb(82, 80, 80);
    margin-top: 50px;
    border-radius: 8px;
}
.form_input {
    padding: 10px 20px;
    }
input {
    width: 97%;
    box-sizing: border-box;
    margin: 7px ;
    padding: 10px 12px; 
    border: none;
    border: 1px solid#666;
    border-left: 3px solid rgb(230, 227, 225);
    box-shadow: 0px 0px 25px rgb(2, 2, 2);
    background-color: transparent;
    border-radius: 4px;
    color: white;
}
.checkbox {
    width: auto;
}
.wrapper {
    margin-left: 400px;
    display: flex;
    justify-content: space-evenly;
}
.boton {
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid rgb(20, 18, 18);
    color: rgb(54, 48, 48);
    border-radius: 5px;   
}
.boton:hover {
    color: deepskyblue;
    border-color: deepskyblue;
    box-shadow: 0px 0px 5px deepskyblue;
    text-shadow: 0px 0px 5px deepskyblue;

}
#body pagina_principal {
    background-color: #666;

}
#subtitulo1 {
    color: deepskyblue; border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px; /* tamaño de letra */
    border-color: darkturquoise;
    border-radius: 5px;
    border-width: 5px;
    }
#titulo1 {
    color: blue;
    }   
#bem {
    background-color: blue;
    font-style: italic; /*estilo de letra*/
    text-align: center; /*poner lado donde comienza la letra*/
    }
#
/* reutilizable
#info {
    text-decoration:underline  ; ponerle rayita a las letras
} */
