body {
    background-color: rgba(0, 0, 0, 0.808);
    margin: 0;
    font-family: cursive;
    color: rgba(255, 255, 255, 0.904);
}
.button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  
}
  
  /* Elemento */
  .button__icon {
    margin-right: 5px;
 }
  
  /* Modificadores */
  .button--primary {
    background-color: rgb(147, 136, 250);
    color: white;
    box-shadow: 0px 0px 15px rgb(2, 2, 218);
    border-radius: 5px;
 }
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
 }
  
  /* Elementos */
  .card__title {
    font-size: 18px;
    font-weight: bold;
 }
  
  .card__content {
    font-size: 14px;
    color: #020202;
  }
  
  /* Modificador */
  .card--highlighted {
    background-color: rgb(34, 131, 47);
    border-color: rgb(20, 209, 92);
    box-shadow: 0px 0px 30px rgb(12, 218, 74);
    text-shadow: 0px 0px 15px yellowgreen;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Elementos */
  .form__input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form__button {
    padding: 10px;
    background-color: rgb(47, 40, 117);
    color: rgb(253, 253, 253);
    border: none;
    box-shadow: 0px 0px 15px rgb(0, 236, 253);
  }
  
  /* Modificador */
  .form__input--error {
    border-color: rgb(0, 201, 252);
    background-color: #ffffff;
 }

#titulo1 {
    text-shadow:0px 0px 15px yellow;
}
#lista {
  list-style-type: circle;
  list-style-position: inside;
  padding: 10px;
  list-style-type: lower-greek;
  
 }
  li::marker {
    color: rgb(0, 201, 252);
    text-transform: uppercase;
    text-shadow: 0px 0px 15px rgb(0, 236, 253);
  }
 .wrapper {
    display: inline;
    margin-left:10px;
    justify-content: space-between;
}
  .boton {
  padding: 5px 15px;
  background-color:transparent !important;
  border: 1px solid #020202; ;
  border-top-left-radius:8px ;
  border-bottom-right-radius: 8px;
  color: rgba(243, 243, 243, 0.671);
  margin-top: auto;
}
.boton:hover {
  color: rgb(1, 196, 255);
  border-color: deepskyblue;
  box-shadow: 0px 0px 15px deepskyblue;
  text-shadow: 0px 0px 15px rgb(180, 158, 158);
}

.header {       /* header */
  background-color: deepskyblue;
  box-shadow: 0px 0px 15px deepskyblue;
  border: 1px solid #020202;
  border-radius: 5px;
}
/* navbar */
.main-navbar ul {
  display: flex;
  padding: 0;
}
.main-navbar li {
  list-style: none;
  margin: 5px;
}
.main-navbar a {
  color: white;
  display: inline-block;
  padding: 6px 9px;
}
nav a {
  text-decoration: none;
}
/* main section*/
.main-wrapper {
  display: flex;
}
.main-wrapper aside {
  flex-grow: 1;
}
.secondary-navbar {
  min-width: 200px;
}
.secondary-navbar li {
  color: aqua; 
}
.secondary-navbar a {
  color: aqua;
  display: inline-block;
  padding: 6px 10px;
}

aside, main {
  border: 1px solid red;
}
#cuadro {
  background-color: aqua;
  width: 400px;
  height: 150px;
  transition: width 1s;
  transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}
#cuadro:hover {
  width:  900px;
  background-color: yellow;
  transition: width 600ms 10ms;
}
#boton {
  background-color: aqua;
  width: 100px;
  height: 150px;
  transition: width 1s;
  transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}
#boton:hover {
  width:  900px;
  background-color: yellow;
  transition: width 600ms 10ms;
}
