body {
    background-color: #ffffff;
    font-family:sans-serif;
    font:100; 
}
#titulo {
  text-align: center;
}
form {
  width: 350px;
  margin: auto;
  margin-top: 50px;
}
#titulo {
  text-align: center;
}
input {  
  width: 97%;
  box-sizing: border-box;
  margin: 7px ;
  padding: 10px 15px; 
  border: 1px solid#b1b0b0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color:rgb(255, 255, 255);
}
.interaccion {
  text-align: left;
  justify-content: left;
  color: rgb(117, 100, 100);
}
.formulario {
  display: flex;
  justify-content: left;
  padding: 7px 15px;
  justify-content: center;
}
.boton {
  color: deepskyblue;
}
.boton-primary {
  width: 95%;
  margin: 9px;
  height: 15px;
  display: flex;
  padding: 8px 1px;
  justify-content: space-evenly;
  border-radius: 5px;
  color: white;
  background-color: deepskyblue;
  text-decoration: none;
  font-size: small;
}
.checkbox {
  width: 15px;
}
